<section id="container">
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 1">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 2">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 3">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 4">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 5">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 6">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 7">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 8">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 9">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 10">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 11">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 12">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 13">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 14">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 15">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 16">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 17">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 18">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 19">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
        <section class="artBox">
            <div class="smallImg">
            <img src="{{ art }}" alt="thumbnail for {{ pieceName }}">
            <h2>{{ pieceName }}</h2>
            </div>
        </section>
        <section class="artFull 20">
            <div class="artPopup">
                <h3>{{ pieceName }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore soluta amet totam. Autem, nostrum reiciendis. Dignissimos aperiam vero veritatis saepe et dolor asperiores impedit ullam provident voluptatibus. Cumque, aperiam totam.</p>
            </div>
        </section>
    </section>