        {{#each artPaint}}
        <div class="{{ID}}">
                    <img class="img{{ID}}" src="{{Image}}" alt="Icon for {{Painting}}">
                    <h1 class="painting{{ID}}">{{Painting}}</h1>
                    <h2 class="artist{{ID}}">{{Artist}}</h2>
    </div>
         {{/each}}